@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

$fira-code: 'Fira Code', monospace;

$primary-100: #01080e;
$primary-200: #011627;
$primary-300: #011221;

$secondary-100: #6984a0;
$secondary-200: #3C9D93;
$secondary-300: #4D5BCE;
$secondary-400: #FFFFFF;

$accent-100: #FEA55F;
$accent-200: #43D9AD;
$accent-300: #E99287;
$accent-400: #C98BDF;

$lines-100: #1E2D3D;

$gradients-100: #4D5BCE;
$gradients-200: #43D9AD;
